@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure buttons are positioned correctly */
button.slick-next,
button.slick-prev {
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    background-color: transparent; 
}

button.slick-next {
    right: -10px;
}

button.slick-next::before {
    content: '\276F'; 
    color: #45624E;
    background-color: #E4E6D9;
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

button.slick-prev {
    left: -10px;
}

button.slick-prev::before {
    content: '\276E'; 
    color: #45624E;
    background-color: #E4E6D9;
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}


/* Styles for the vertical slider */
.vertical-slider button.slick-next,
.vertical-slider button.slick-prev {
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    background-color: transparent; /* Nền trong suốt */
    opacity: 50%;
}

.vertical-slider button.slick-next {
    right: -70px;
}

.vertical-slider button.slick-next::before {
    content: '\00BB'; /* Mã ký tự cho mũi tên */
    color: #fff8dc; /* Màu của mũi tên */
    font-size: 40px; /* Kích thước mũi tên */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Nền trong suốt */
    transform: rotate(90deg);
}

.vertical-slider button.slick-prev {
    left: -70px;
}

.vertical-slider button.slick-prev::before {
    content: '\00BB'; /* Mã ký tự cho mũi tên */
    color: #fff8dc; /* Màu của mũi tên */
    font-size: 40px; /* Kích thước mũi tên */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Nền trong suốt */
    transform: rotate(-90deg);
}


.horizontal-slider button.slick-next,
.horizontal-slider button.slick-prev {
    z-index: 10;
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    background-color: transparent; 
}


.horizontal-slider button.slick-next {
    right: -10px;
}

.horizontal-slider button.slick-next::before {
    content: '\276F'; 
    color: #FFFFFF;
    background-color: #3B5442;
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(0deg);
}

.horizontal-slider button.slick-prev {
    left: -10px;
}

.horizontal-slider button.slick-prev::before {
    content: '\276E'; 
    color: #FFFFFF;
    background-color: #3B5442;
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    transform: rotate(0deg);
}

.vertical-slider .slick-dots li button:before {
  content: counter(dot);
  counter-increment: dot; 
  font-size: 16px; 
  color: #fff8dc; 
  opacity: 1;
  font-family: 'poppins', sans-serif;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.vertical-slider .slick-dots {
  counter-reset: dot; 
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  
}

.vertical-slider .slick-dots li button {
  background: transparent; 
  border: none; 
}

.vertical-slider .slick-dots li.slick-active button:before {
  color: #fff8dc; 
  border-radius: 50%;
  border: 2px solid #fff8dc;
  width: 30px;
  height: 30px;
  background-color: transparent;
}



/* CardProduct.css */
.card-product-best-sell {
  border-radius: 0.75rem; 
  overflow: hidden; 
  transition: box-shadow 0.3s, transform 0.4s ease; 
}

.card-product-best-sell:hover {
  box-shadow: 0 0 20px rgba(134, 199, 55, 0.79);
  transform: scale(1.05);
  animation-duration: 0.3s;
}




@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
.animate-spin-slow {
    animation: spin 8s linear infinite;
}

.art-word {
    font-size: 70px;
    font-weight: bold;
    color: white; /* Text fill color */
    -webkit-text-stroke: 2px #0000ff; /* Blue outline */
    text-transform: uppercase; /* Make text uppercase */
  }

  .art-word-shadow {
    font-size: 60px;
    font-weight: bold;
    color: white; /* Text fill color */
    text-shadow: 
      -1px -1px 0 #45624E,
      1px -1px 0 #45624E,
      -1px 1px 0 #45624E,
      1px 1px 0 #45624E; 
    text-transform: uppercase; /* Make text uppercase */
  }

  .art-word-shadow-logo {
    font-size: 25px;
    font-weight: bold;
    word-spacing: 5px;
    color: white; /* Text fill color */
    text-shadow: 
      -1px -1px 0 #45624E,
      1px -1px 0 #45624E,
      -1px 1px 0 #45624E,
      1px 1px 0 #45624E; 
    text-transform: uppercase;
  }

  .gradient-text-logo {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, #45624E, #82ac90, #416c4f); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .gradient-text {
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .custom-title {
    font-family: 'poppins', sans-serif; /* Hoặc tên font chữ bạn muốn */
    font-size: 24px;
    color: #ff6347;
  }

  .custom-text {
    font-family: 'poppins', sans-serif; /* Hoặc tên font chữ bạn muốn */
    font-size: 16px;
    color: #333;
  }
  
  /* Đặt font chữ cho các nút */
  .custom-confirm-button {
    font-family: 'poppins', sans-serif; /* Hoặc tên font chữ bạn muốn */
    background-color: #28a745;
    border: none;
    color: #fff;
  }
  
  .custom-cancel-button {
    font-family: 'poppins', sans-serif; /* Hoặc tên font chữ bạn muốn */
    background-color: #dc3545;
    border: none;
    color: #fff;
  }

  .group:hover {
    width: auto; /* Kéo dài nút khi hover */
    padding-right: 20px; /* Tạo khoảng trống đủ để hiển thị chữ */
  }
  
  .group span {
    white-space: nowrap; /* Đảm bảo văn bản không bị xuống dòng */
  }
  
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }

/* Custom scrollbar - hide scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Custom scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Remove scrollbar but allow scrolling */
.custom-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  overflow-y: auto; /* Ensure the sidebar is scrollable */
}

  

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px); /* Di chuyển từ trên xuống */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Về vị trí ban đầu */
  }
}

.banner-container {
  animation: fadeIn 0.8s ease-in-out; /* Áp dụng animation cho banner */
  opacity: 0; /* Đặt opacity ban đầu để đảm bảo animation hoạt động */
}

.banner-container.show {
  opacity: 1; /* Hiển thị banner khi có class show */
}



.bubble-effect {
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.bubble-effect:hover {
  transform: scale(1.1); /* Scale effect on hover */
  opacity: 0.8; /* Slightly fade out */
}

.bubble-effect img {
  border-radius: 50%;
  border: 2px solid #7ca07a; /* Border color */
  background-color: white; /* Background color */
}

.bubble-effect {
  width: var(--bubble-size); /* Use CSS variable for size */
  height: var(--bubble-size);
}


@keyframes bubble {
  0%, 100% {
    transform: translateY(5px) scale(1);
    
  }
  50% {
    transform: translateY(20px) scale(1.05);
   
  }
}

/* Add this to your existing CSS */
.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr)); /* Adjust minmax as needed */
  gap: 30px; /* Space between logos */
  justify-items: center; /* Center the logos */
  padding: 40px; /* Add padding around the grid */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.chatbot-toggle-btn {
  background-color: #6f97628d;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
}

.chatbot-container {
  width: 320px;
  height: 500px;
  box-shadow: 0px 4px 12px rgba(92, 138, 61, 0.379);
  border-radius: 10px;
  overflow: hidden;
}

.react-chatbot-kit-chat-container {
  width: 320px;
 
}

.react-chatbot-kit-chat-message-container {
  /* padding: 0 2px 10px 16px; */
  background-color: #ebfce829;
  border: 1px solid #6d877781; 
}
.react-chatbot-kit-chat-input {
  border: 1px solid #6d877781; 
  outline: none;
  transition: border-color 0.3s ease;
}
.react-chatbot-kit-chat-input:focus {
  border-color: #39842a;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
  background-color: #6D8777;
  border-radius: 8px;
  font-size: 13px;
}

.react-chatbot-kit-user-chat-message {
  margin-right: 10px;
  border-radius: 8px;
  font-size: 13px;
  background-color: #dee6e1;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right:8px solid #6D8777;
}

.react-chatbot-kit-user-chat-message-arrow {
  border-left:8px solid #dee6e1;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #6D8777;
}

.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 2.5px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-chat-header{
  background-color: #3b5e49;
  color:#ffffff;
  font-family: poppins, sans-serif;
  font-size: 1rem;
}

